@model IEnumerable<CodeFirstMVC.Models.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="people" class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimesMet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhenMet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimesMet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhenMet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Name }) |
            @Html.ActionLink("Details", "Details", new { id=item.Name }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Name })*@
            <button data-person-name="@item.Name" class="js-delete">Delete</button>
        </td>
    </tr>
}

</table>

@section scripts 
    {
    <script>
        $(document).ready(function () {
            $("#people .js-delete").on("click", function () {
                if (confirm("Sure you want to delete?")) {
                    $.ajax({
                        url: "/api/people/" + $(this.attr("data-person-name"),
                            method: "DELETE",
                            success: function () {
                                console.log("delete success.");
                            })
                    })
                }
            })
        })
    </script>
    }