@model IEnumerable<CodeFirstMVC.Models.Person>
@using Humanizer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Robot's Memory</h2>

<hr />

@using (Html.BeginForm("Index", "People", FormMethod.Get)) //Use the Get method so search parameters are preserved in URI
{
<p class="form-inline">
    Filter: @*@Html.TextBox("SearchString", "", new { @class = "form-control", @id = "filter-field", @value = "hal" })*@
    <input class="form-control" id="filter-field" name="SearchString" type="text" value="@ViewBag.searchString"/>
    <input id="filter-button" type="submit" value="Filter" class="btn btn-default" />
</p>
}

@*<p>
    @Html.ActionLink("Meet the friendly robot", "Create")
</p>*@
<table id="people" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesMet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenMet)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    </tbody>

    @*@foreach (var item in Model)
            {
                <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TimesMet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WhenMet)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Name }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Name }) |
                                        <button data-person-name="@item.Name" class="js-delete">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
        }*@

</table>

            @section scripts
                {
                <script>
                    $(document).ready(function () {
                        //var field = $("#filter-field");
                        

                        var table = $("#people").DataTable({ //config object
                            "ajax": {
                                "url": "/api/people/?searchString=" + $("#filter-field").val(),
                                "dataSrc": ""
                            },
                            "columns": [
                                {
                                    data: "",
                                    render: function (data, type, person) {
                                        return "<a href='/people/edit/" + person.name + "'>" + person.name + "</a>";
                                    }
                                },
                                {
                                    data: "timesMet"
                                },
                                {
                                    data: "whenMet",
                                    render: function (date) {
                                        return date;
                                    }
                                },
                                {
                                    data: "name",
                                    render: function (data) {
                                        return "<button data-person-name='" + data + "' class='btn-link js-delete'>Delete</button> <a href='/people/details/" + data + "'>Details</a> ";
                                    }
                                }
                            ]
                        });

                        $("#filter-button").on("click", () => {
                            console.log("click button");

                            //table.ajax.load();

                            //var button = $(this);
                            //var field = $("#filter-field");
                            //; $.ajax({
                            //    url: "/api/people/?searchString=" + $(field).val,
                            //    method: "GET",
                            //    success: function () {
                            //        // console.log("delete success.");
                            //        // button.parents("tr").remove();
                            //    }

                            //});

                        });


                        $("#people").on("click", ".js-delete", function () {
                            var button = $(this);
                            bootbox.confirm("Are you sure you want to delete this person?", function (result) {
                                if (result) {
                                    $.ajax({ // The jQuery ajax function
                                        url: "/api/people/" + $(button).attr("data-person-name"),
                                        method: "DELETE",
                                        success: function () {
                                             console.log("success filter button");
                                            // button.parents("tr").remove();
                                        }
                                    })
                                }
                            });
                            //if (confirm("Sure you want to delete?")) {
                            //    //console.log("delete success.");
                            //}
                        })

                    });

                </script>
            }
