@model IEnumerable<CodeFirstMVC.Models.Person>
@using Humanizer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Robot's Memory</h2>

<hr />

@using (Html.BeginForm("Index", "People", FormMethod.Get)) //Use the Get method so search parameters are preserved in URI
{
    <p class="form-inline">
        Filter: @*@Html.TextBox("SearchString", "", new { @class = "form-control", @id = "filter-field", @value = "hal" })*@
        <input class="form-control" id="filter-field" name="SearchString" type="text" value="@ViewBag.searchString" />
        <input id="filter-button" type="button" value="Filter" class="btn btn-default" />
    </p>
}

@*<p>
        @Html.ActionLink("Meet the friendly robot", "Create")
    </p>*@
<table id="people" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesMet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenMet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastMet)
            </th>
        </tr>
    </thead>

    <tbody id="table-body"> @*This gets filled in by datatables.*@
    </tbody>

</table>

@section scripts
                {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    
    @*<script src="~/Scripts/app.js"></script>*@
    
<script>
    const uriBase = '/CodeFirstMVC/api/people';
    const request = new XMLHttpRequest();
    const field = $("#filter-field");
    const dateFormat = "LLL";
    
    $(document).ready(function () {
        $("#filter-button").on("click", () => getTable());

        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault(); //Don't submit the form
                getTable();
            }
        });

        function getTable() {
            request.open('GET', getUri());
            request.send();

            request.onload = () => {
                if (request.status === 200) {
                    var table = "";
                    for (const person of JSON.parse(request.response)) {
                        table += "<tr>"; //new row

                        //for (var column in person) { //fill in the columns 
                        //    table += "<th>" + person[column] + "</th>";
                        //}

                        table += "<th>" + person["name"] + "</th>";
                        table += "<th>" + person["timesMet"] + "</th>";

                        //moment(date).format("L LT");

                        //table += "<th>" + person["whenMet"] + "</th>";
                        table += "<th>" + moment(person["whenMet"]).format(dateFormat) + "</th>";
                        table += "<th>" + moment(person["lastMet"]).format(dateFormat) + "</th>";

                        table += "</tr>";
                    }

                    document.getElementById("table-body").innerHTML = table;
                }
            };

            request.onerror = () => {
                console.log("error")
            };
        }

        function getUri() {
            var uri = uriBase;

            var val = field.val();
            if (val != "") { uri += "?searchString=" + val}


            return uri;
        }

        getTable()

    });

    

    



</script>
}
